// =============================================================================
// Fonts
// =============================================================================

@charset "UTF-8";

// Cormorant Garamond
// =============================================================================

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: asset_url('cormorant-garamond/Cormorant-Garamond-700.eot');
  src:
    asset_url('cormorant-garamond/Cormorant-Garamond-700.eot?#iefix') format('embedded-opentype'),
    local('Cormorant Garamond Medium'),
    local('Cormorant-Garamond-600'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.woff2') format('woff2'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.woff') format('woff'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.ttf') format('truetype');
}
